.navBarContainer {
    background-color: #231f20;
    color: white;
    height: 100px;

    :global {
        .navbar-body {
            gap: 20px;
            height: 100%;
            align-items: center;

            .logo {
                height: 100%;
                width: 131px;
            }

            .ant-select {
                flex: 1;

                .ant-input {
                    height: 40px;
                }
            }

            .user {
                font-size: 40px;
                cursor: pointer;
            }

            .cart-icon {
                font-size: 40px;
                color: white;
                cursor: pointer;
            }
        }
    }
}