.bestSellerProductsContainer {
    background-color: white;

    :global {
        .title {
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            height: 3.75rem;
            padding-left: 10px;
            align-items: center;
            margin-bottom: 10px;
        }

        .body-container {
            gap: 29px;
            flex-wrap: wrap;
            padding: 15px 15px;

            .item-container {
                width: 18%;
                border: 0 solid #e5e7eb;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
                }

                .item-image {
                    height: 130px;
                    width: 100%;
                }

                .item-infor-container {
                    gap: 20px;
                    padding: 10px 10px;
                    margin-top: 5px;

                    .item-name {
                        -webkit-line-clamp: 2 !important;
                    }

                    .item-detail {
                        .item-price {
                            flex: 1;
                            line-height: 22px;
                            font-size: 18px;
                            color: #f57224;
                        }

                        .total-item-sold {
                            height: 14px;
                            color: #9e9e9e;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}